@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte-p: 'Sriracha';
    --fonte-titulo: 'Passion One';
}


html, body{
    min-height: 100vh;
    background-color: darkgray;
} 



header{
    background-color: black;
}
header > h1{
    padding-top: 50px;
    color: white;
    font-family: var(--fonte-titulo);
    text-align: center;
    font-variant: small-caps;
    font-size: 10vw;
    
}

header > p{
    color: white;
    padding: 15px 0px 50px 0px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

    font-family: var(--fonte-p);
    font-size: 2.8vw;
    line-height: 2em;

}

section.imagemfundo{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.516);

}

section.fundocor{
    color: black;
    background-color: white;
}

section#img01{

    color: white;
    background-color: black;

    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section#img02{
    color: white;
    background-color: rgba(0, 0, 0, 0.428);


    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section.imagemfundo > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.229);
    padding: 10px;

    text-shadow: 1px 1px 0px black;
}



footer{
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
}